@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --primary--color: #423E37;
    --secondary-color: #E3B23C;
    --accent1-color: #EDEBD7;
    --accent2-color: #30BAFF;

    --heading-font: 'Heebo', sans-serif;
    --paragraph-font: 'Heebo', sans-serif;

    --nav-background-color: #423E37;
    --nav-link-color: #E3B23C;
    --nav-hover-link-color: #EDEBD7;
    --nav-hover-background-color: #30BAFF;
}

body {
    background-color: var(--primary--color);
}

h1, h2 {
    font-family: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

p {
    font-family: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}

header {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

header img {
    width: 200px;
    grid-column: 1/1;
    justify-self: flex-end;
}

nav {
    display: flex;
    background-color: var(--primary--color);
    grid-template-columns: repeat(4, auto);
    justify-self: center;
    grid-column: 2/3;
}

nav a {
    display: block;
    padding: 1rem 3rem 1rem 3rem;
    text-decoration: none;
    font-size: large;
    font-weight: bold;
    font-family: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--heading-font);
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

main section img {
    width: 500px;
    height: auto;
}

figcaption {
    font-family: var(--primary-color);
    color: var(--secondary-color);
    font-family: var(--paragraph-font);
}

section {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    width: 45%;
    padding: 10px;
    margin: 15px;
    box-sizing: border-box;
}

input,
textarea,
select {
    width: 95%;
}

input[type="button"] {
    background-color: var(--primary--color);
    color: var(--secondary-color);
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 35px;
    letter-spacing: 1px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 50%;
}


thead,
tfoot {
  background-color: var(--secondary-color);
  color: black;
}

tbody {
  background-color: #e4f0f5;
}

caption {
  caption-side: bottom;
  padding: 10px;
  color: var(--secondary-color);
  font-size: 20px;
  font-weight: bold;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
  color: black;
}

td {
  text-align: center;
}

/*Classes*/

.sociallinks a, nav a {
    text-decoration: none;
}

.sociallinks img {
    width: 50px;
}

.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.hero h1 {
    position: absolute;
    width: 100%; 
    background-color: rgba(66, 31, 1, 0.644);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    top: 30%;
    z-index: 1;
}

.hero article {
    max-width: 100%;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    align-self: center;
    background-color: rgba(66, 31, 1, 0.644);
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article p {
    padding: 20px;
    border-radius: 10px;
}

.hero article img {
    width: 200px;
    position: relative;
    object-fit: cover;
}

.company-info {
    display: grid;
    justify-items: center;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    justify-items: center;
}

.employees {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.employees img {
    max-width: 500px;
}

.contact-form {
    background-color: gainsboro;
    max-width: 60%;
    display: block;
    margin: auto;
    
}

fieldset {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: left;
}

.contact-form label {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    width: 70%;
}

.contact-form input[type="checkbox"] {
    position: relative;
    left: 60px;
}

.contact-form label span {
    flex-grow: 1;
}

.booknow {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.booknow img {
    width: 100%;
    height: auto;
    opacity: 0.4;
}

.booknow input[type="button"] {
    width: 100%;
    margin: 50px auto;
    font-size: 50px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: black;
    padding: 20px 200px 20px 200px;
}

.booknow h1{
    z-index: 1;
    position: absolute;
    font-size: 100px;
    color: var(--nav-hover-link-color);
}

.venue {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.venueimage img{
    max-width: 500px
}

.headingmessage {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.headingmessage img {
    position: relative;
    width: 100%;
}

.headingmessage h1 {
    position: absolute;
    z-index: 1;
    font-size: 3em;
    background-color: rgba(66, 62, 55, 0.7);
    padding: 10px;
    margin: px;
    text-align: center;
}

a[href="trips.html"] {
    text-align: center;
    text-decoration: none;
}

a[href="trips.html"] input[type="button"] {
    display: block;
    width: 600px;
    margin: 50px auto;
    font-size: 50px;
    font-weight: bold;
    background-color: var(--secondary-color);
    color: black;
}

.offerings {
    display: flex;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

.offerings img {
    width: 500px;
    flex-flow: row wrap;
}

.offeringsp {
    margin: 50px;
    text-align: center;
    font-size: 30px;
}

.homepageform {
    max-width: 800px;
    margin: auto;
    color: black;
    background-color: var(--secondary-color);
    font-family: var(--heading-font);
    font-size: 20px;
    font-weight: bolder;
}

.subscribe {
    text-align: center;
    background-color: rgb(219, 52, 52);
    padding: 0 10px 0 10px;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
}

#updateButton {
    background-color: var(--primary--color);
    color: var(--secondary-color);
}

a[href="images/wrr-wireframe.png"] {
    text-decoration: none;
    color: white;
    font-size: 25px;
}
