@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --primary--color: #423E37;
    --secondary-color: #E3B23C;
    --accent1-color: #EDEBD7;
    --accent2-color: #30BAFF;

    --heading-font: 'Heebo', sans-serif;
    --paragraph-font: 'Heebo', sans-serif;

    --nav-background-color: #423E37;
    --nav-link-color: #E3B23C;
    --nav-hover-link-color: #EDEBD7;
    --nav-hover-background-color: #30BAFF;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--primary--color);
    color: var(--secondary-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
